body {
    background-color: #121212;
    /*    background-image: url(video/prerollposter_1.jpg);*/
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top center;
}

#tv {
    width: 800px;
    margin: 0px auto;
}

#tv_bg {
    float: left;
    z-index: -1;
    width: 0px;
}

#videoDiv {
    position: relative;
    margin: 0px;
    padding: 49px 45px;
}

#videoDiv canvas {
    position: absolute;
    top: 49px;
    left: 45px;
}

#debug_info {
    color: white;
}

.dashboard {
    margin: 0px auto;
    background-color: rgba(0, 0, 0, 0.7);
    height: 170px;
    width: 320px;
    color: white;
    padding: 15px;
    margin-top: 10px;
    border: 2px solid #676767;
    border-radius: 3px;
    box-shadow: 0px 1px 10px black;
}

.controlClass {
    max-width: 800px;
    margin: 0px auto;
}

a.effect, a.control, a.videoSelection {
    display: block;
    width: 77px;
    height: 56px;
    text-align: center;
    padding-top: 15px;
    color: white;
    -webkit-transform: all 0.5s;
    transform: all 0.5s;
}

a.effect:hover, a.control:hover, a.videoSelection:hover {
    color: aqua;
    cursor: pointer;
    text-shadow: 0px 0px 10px cyan;
}

div#effects {
    position: relative;
    background: url(src/button.png) top left;
    top: 0px;
    left: 0px;
    width: 307px;
    height: 56px;
}

a#normal {
    position: relative;
    width: 77px;
    top: 0px;
}

a#western {
    position: absolute;
    width: 77px;
    top: 0px;
    left: 77px;
}

a#noir {
    position: absolute;
    top: 0px;
    left: 154px;
}

a#scifi {
    position: absolute;
    top: 0px;
    left: 230px;
}

div#controls {
    position: relative;
    background: url(src/button.png) top left;
    top: 0px;
    left: 0px;
    width: 307px;
    height: 56px;
}

a#pause {
    position: relative;
    width: 77px;
    top: 0px;
}

a#play {
    position: absolute;
    top: 0px;
    left: 77px;
}

a#loop {
    position: absolute;
    top: 0px;
    left: 154px;
}

a#mute {
    position: absolute;
    top: 0px;
    left: 230px;
}

div#videoSelection {
    position: relative;
    background: url(src/button.png) top left;
    top: 0px;
    left: 0px;
    width: 154px;
    height: 56px;
}

a#video1 {
    position: relative;
    width: 77px;
    top: 0px;
}

a#video2 {
    position: absolute;
    top: 0px;
    width: 77px;
    left: 77px;
}