<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>TodoList Vue MVVM</title>
</head>

<body>
    <img src="mvvm.png" alt="MVP">
    <div id="app">
        <input type="text" v-model="inputValue">
        <button type="button" v-on:click="handleBtnClick()">提交</button>
        <ul>
            <li v-for="item in list">{{ item }}</li>
        </ul>
    </div>

    <script src="../lib/vue.js"></script>
    <script>
        // MVVM
        // M（数据），V（DOM），VM（Vue）
        // 使用Vue开发，主要是面向数据进行开发

        var app = new Vue({
            el: '#app',
            data: {
                list: [],
                inputValue: ''
            },
            methods: {
                handleBtnClick: function () {
                    this.list.push(this.inputValue)
                    this.inputValue = null;
                }
            }
        });
    </script>
</body>

</html>