body {
/ / background-color: #dcedc8;
    font-family: \5FAE\8F6F\96C5\9ED1;
}

h1 {
    text-align: center;
    margin-bottom: 0px;
    border-radius: 0px;
    border-style: solid;
    border-width: 2px;
    border-color: #2196f3;
    background-color: #2196f3;
    color: white;
}

h2 {
    color: #2196f3;
/ / text-align: center;
    border-bottom: 3px solid #2196f3;
}

h3 {
    color: black;
    text-align: center;
    border-bottom: 3px solid black;
}

li {
    color: #2196f3;
}

a:link {
    color: green;
    font-weight: bold;
    text-decoration: none;
}

a:visited {
    color: green;
}

#divblue {
    background-color: #ccff90;
    margin: -18px 5px 0px 5px;
    text-align: center;

    border-style: solid;
    border-width: 1px;
    border-color: #2196f3;
    padding-top: 10px;
    padding-bottom: -5px;
}

#divgery {
    color: black;
    margin: -18px 5px 0px 5px;
    text-align: center;

    border-style: solid;
    border-width: 1px;
    border-color: black;
    padding-top: 10px;
    padding-bottom: -5px;
}

#refresh {
    color: #ffebee;
    font-size: small;
}

#AliceBlue {
    color: #ffebee;
}

#8bc34a {
    color: #2196f3;
}

#grey {
    color: #C0C0C0;
}


