* {
    margin: 0px;
}

.mydog {
    margin: 0px auto;
    max-width: 500px;
    background-color: bisque;
}

.cinema {
    margin: 0px auto;
    margin-top: 10px;
    max-width: 500px;
    background-color: #c4c6ff;
}

.buttons {
    text-align: center;
}

h1 {
    text-align: center;
    margin: 10px;
}

p {
    padding: 10px 100px
}

hr {
    margin: 5px 0px;
}
