.article-list ul li:hover,
.type-list ul li:hover {
  color: #fff;
  background-color: #0cf !important;
}
.infor-h1 {
  margin: 0 0 5px 0;
  color: #0cf;
  text-align: left;
}
.infor-wrap {
  background-color: #f0f8ff;
  border: 1px solid #0cf;
  box-sizing: border-box;
  padding: 10px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
}
.main {
  margin: 10px auto;
}
.main .article-list {
  float: left;
  width: 78.5%;
}
.main .article-list ul li {
  padding: 5px;
  box-sizing: border-box;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
}
.main .article-list ul li:nth-child(2n) {
  background-color: #fff;
}
.main .article-list ul li a {
  color: #222;
}
.main .article-list .picture {
  float: left;
  width: 75px;
  height: 75px;
  overflow: hidden;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
}
.main .article-list .picture img {
  width: 100%;
  height: 100%;
}
.main .article-list .item {
  float: left;
  margin: 0 10px;
}
.main .article-list .item h3 {
  font-size: 18px;
  margin: 0;
}
.main .article-category {
  float: right;
  width: 21%;
}
.main .article-category .search {
  margin-bottom: 10px;
}
.main .article-category .type-list ul li {
  line-height: 32px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
}
.main .article-category .type-list ul li::before {
  content: "-";
  margin-right: 5px;
  float: left;
}
.main .article-category .type-list ul li a {
  color: #222;
  text-decoration: none;
  display: block;
}
