* {
    color: cadetblue;

    margin: 10px;
    padding: 10px;
    border-width: 1px;
    border-style: solid;
}

.box1 {
    color: crimson;
    width: 75px;
    margin: 10px;
    padding: 5px;
    border-width: 5px 5px 5px 5px;
    border-style: dashed;
    border-color: red green yellow blue;
}

.box2 {
    color: goldenrod;
    width: 75px;
    margin: 10px;
    padding: 50px;
    border-width: 1px;
    border-style: solid;
}

.box3 {
    color: rosybrown;
    width: 75px;
    margin: 10px;
    padding: 10px 0.25em 2ex 21.5%;
    border-width: 1px;
    border-style: solid;
}